:root {
    /* ===== Colors ===== */
    --text-color : #000;
    --text-color-light : #5e5e5e;
    --first-white-color : #fff;
    /* ===== +색상 더 추가하기 ===== */
    --container-color : #fff;
    --submit-color : #8e00ab;

    /* ===== Padding & Margin */
    --small-padding : .5rem;
    --middle-padding : .75rem;
    --big-padding : 1rem;

    /* ===== Font & Font Size ===== */
    --body-font : 'Noto Sans KR', sans-serif;
    --small-font-size : .75rem; /* 12px */
    --middle-font-size : 0.938rem; /* 15px */
    --big-font-size : 1.5rem; /* 24px */


    /* ===== Font Weight ===== */
    --font-medium : 500;
    --font-bold : 700;
    --font-more-bold : 900;

    /* ===== Z-index ===== */
    z-index: 100;
}

/* ===== Initial Setting ===== */
*, ::before, ::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font: var(--body-font);
    font-size: var(--middle-font-size);
    color: var(--text-color);
}

/* ===== Header ===== */
/* ===== Nav ===== */
/* ===== Section ===== */
section.section {
    width: 100%;
    height: 100vh;
    background-color: rgb(249, 233, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__container {
    width: 25%;
    height: 500px;
    background-color: var(--container-color);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section__login-etc {

}

button.section__login-button {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: var(--first-white-color);
    border-radius: 1.5rem;
    margin: .5rem;
    cursor: pointer;
}

.sns_login-icon {
    font-size: var(--big-font-size);
}

h3.section__login-title {
    font-size: var(--big-font-size);
    letter-spacing: .75rem;
    font-weight: var(--font-more-bold);
    text-transform: uppercase;
}

.section__login {
    width: 100%;
}

.section__login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__login-input {
    width: 80%;
    height: 50px;
    margin: 1rem 0;
    border: 1px solid lightgray;
    outline: none;
    padding-left: 1rem;
    border-radius: .5rem;
}

.section__login_find-join {
}

.section__login_find-join a {
    font-size: var(--small-font-size);
    padding: var(--small-padding);
    color: var(--text-color-light);
    margin-top: 1rem;
}

.section__login-submit {
    margin-top: 3rem;
    width: 80%;
    border: none;
    outline: none;
    background-color: var(--submit-color);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: var(--middle-font-size);
    color: var(--first-white-color);
    font-weight: var(--font-bold);
    cursor: pointer;
    letter-spacing: .5rem;
}
/* ===== Aside ===== */
/* ===== Footer ===== */